.chatMessagesSection {
  flex: 1;
  height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatHeaderMembers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chatMembers {
  display: flex;
  gap: 8px;
}

.chatHeader h2 {
  color: var(--theme);
}

.chatHeaderControls {
  display: flex;
  gap: 12px;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding-top: 40px;
}

.messageContainer {
  display: flex;
  gap: 8px;
}

.messageContainer.userMessage {
  margin-left: 30%;
}

.avatar {
  height: 54px;
  width: 54px;
  border-radius: 9999px;
  padding: 2px;
  object-fit: cover;
}

.messageContent {
  display: flex;
  flex-direction: column;
}

.messageContentHeader {
  display: flex;
  gap: 14px;
  align-items: flex-end;
}

.messageDate {
  color: var(--slate);
}

.messageForm {
  display: flex;
}

.messageForm input {
  flex: 1;
  color: var(--white);
  background-color: var(--carbon);
  border: 1px solid var(--steel);
  border-radius: 9999px;
  padding: 12px 80px 12px 22px;
}

.messageForm button {
  height: 42px;
  width: 70px;
  border-radius: 9999px;
  position: absolute;
  right: 28px;
  bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--slate);
  border: 2px solid var(--theme);
}

.messageForm button:hover {
  cursor: pointer;
  background-color: var(--theme);
}

.messageForm button img {
  height: 24px;
  width: 24px;
  margin-left: 6px;
}
