.nav {
	background-image: linear-gradient(var(--black), var(--carbon));
	height: 100vh;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding: 10px;
}
