.nav {
	background-image: linear-gradient(var(--black), var(--carbon));
	height: 100vh;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding: 10px;
}

.upperNav {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.chatsContainer {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.upperNav h1 {
	color: var(--platinum);
	padding: 10px;
}
