.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	background: var(--white);
	color: var(--black);
	padding: 20px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.buttons {
	display: flex;
	gap: 20px;
}

.confirmBtn,
.cancelBtn {
	height: 30px;
	padding: 0 20px;
	border-radius: 15px;
	border: 1px solid var(--emerald);
	background-color: var(--teal);
	color: var(--platinum);
	box-shadow: 2px 2px 3px var(--gunmetal);
	cursor: pointer;

	transform-origin: center;
	transition: transform 0.25s ease-out;
}

.cancelBtn:hover {
	background-color: var(--cerulean);
	color: var(--black);

	transform: scale(1.05);
	transition:
		transform 0.12s ease-out,
		background-color 0.12s ease-out;
}

.confirmBtn:hover {
	background-color: var(--red);
	color: var(--black);

	transform: scale(1.05);
	transition:
		transform 0.12s ease-out,
		background-color 0.12s ease-out;
}
